.game-wrap {
  width: 100%;

  .btn__box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1.5rem;

    .btn__choice {
      padding: 0.5rem 1rem;
      border: 0;
    }
  }

  .game__area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    .user__box {
      width: 40%;
    }

    .user,
    .points {
      font-weight: 600;
      margin: 0.5rem 0;
    }
  }
}
